
.float_left {float: left !important;}
.float_right {float: right !important;}
.clear { clear:both; overflow:hidden; }


.main {
  margin-left: 50px;
  width: 880px;
}

.content {
  width : 665px;
}

.left-sidebar {
  margin-top : 70px;
  text-align: right;
}

.left-sidebar ul li {
  line-height : 25px;
}

.right-sidebar {
  width: 200px;
}

.right-sidebar li {
  list-style : none;
  border-top: 1px solid #EEE;
}

.post {
  margin-bottom: 5px;
}

.post-content p {
  text-align: justify;
}


#twitter_update_list li {
  color: #664433;
}

.right-sidebar .sidebox {
  margin-bottom: 10px;
}
